
.bgColor {
    background-color: #F4B88B;
    
}
/* Things pertaining top row */
#titleRow {
    background-color: #05294C;
    height: 237px;
    align-items: center;
    color: rgb(215, 215, 215);
    font-family: 'Press Start 2P', cursive; font-size: 54px;
    text-align: center;
    text-shadow: -1px 1px 2px black;
}
#titleText {
    font-size: 54px;
}
#scoreText {
    font-size: 100px;
}
/* Things pertaining middle row */
#selectRow {
    background-color: #AD342E; 
    height: 169px;
    align-items: center;
    color: rgb(215, 215, 215);
    font-family: 'Press Start 2P', cursive;
    display: flex;
    text-shadow: -1px 1px 2px black;
    justify-content: center;
    padding: 0;
}
#selectText {
    justify-content: center;
}
#seriesText {
    justify-content: center;
}
#player1Text {
    justify-content: center;
}
#player2Text {
    justify-content: center;
}
/* Things referring to button area */
#ButtonsRow {
    height: 325px;
    font-family: 'Press Start 2P', cursive; font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#Button1 {}
#Button2 {}
#BestOf1Button {}
#BestOf5Button {}
#BestOf7Button {}
#ButtonRock {}
#ButtonPaper {}
#ButtonScissors {}
#ButtonLizard {}
#ButtonSpock {}
.bigButton {
    height: 124px;
    width: 520px;
    color: rgb(215, 215, 215);
    background-color: #4082AC;
    border-radius: 4px;
    text-shadow: -1px 1px 2px black;
    border: 0;
}
.seriesButtons {
    color: rgb(215, 215, 215);
    background-color: #4082AC;
    border-radius: 4px;
    text-shadow: -1px 1px 2px black;
    border: 0;
    font-size: 45px;
    width: 417px;
    height: 69.5px;
    align-items: center;
}
.gameButtons {
    color: rgb(215, 215, 215);
    background-color: #4082AC;
    border-radius: 4px;
    text-shadow: -1px 1px 2px black;
    border: 0;
    font-size: 30px;
    width: 260px;
    height: 69.5px;
    align-items: center;
}
/* Things pertaining to foot */
footer {
    text-align: center;
    font-family: 'Press Start 2P', cursive; font-size: 14px;
    color: white;
    text-shadow: -1px 1px 2px black;
    display: flex;
    padding-inline: 42px; padding-top: 30px; padding-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.182); 
    height: 177px;
    margin: 0;
    align-items: center;
}
#FooterText {}
#FooterName {}
#FooterLink {}
#RulesText {}


.hide-element {
    display: none;
}
/* FOR PLAYER 2 CHOOSE */
/* background-color: #12373D; */